# Это Custom Resource (CRD), который понимает оператор CNPG
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ .Release.Name }}-db
spec:
  instances: 2 # Master + Standby (Репликация!)
  
  # Настройки хранения (пока без дисков, в памяти, как с Redis, для скорости)
  # В проде тут нужен storageClassName и размер
  
  storage:
    size: 2Gi
  #  storageClass: standard # GKE default class

  # Автоматический bootstrap базы
  bootstrap:
    #initdb:
    #  database: app
    #  owner: app
    recovery:
      source: spiral-app-db

  # Ресурсы (чтобы влезло на нашу ноду)
  resources:
    requests:
      memory: "128Mi"
      cpu: "50m"
    limits:
      memory: "256Mi"
      cpu: "250m"


  backup:
    barmanObjectStore:
      destinationPath: gs://spiral-db-backups-spiral-c2/  # <-- ТВОЙ БАКЕТ!
      googleCredentials:
        gkeEnvironment: true # Использовать Workload Identity
      wal:
        compression: gzip
    retentionPolicy: "30d"
    
  serviceAccountTemplate:
    metadata:
      annotations:
        iam.gke.io/gcp-service-account: postgres-backup-sa@dvps-spiral-c2.iam.gserviceaccount.com